<h3 class="title">
    Languages
</h3>

<div class="row">
    <dl>
        <dt><strong>French - fluent</strong></dt>
        <dd>Test de Connaissance du Français C1</dd>
    </dl>
</div>

<div class="row">
    <dl>
        <dt><strong>English - fluent</strong></dt>
        <dd>TOEFL iBT - 107/120 (January 2015)</dd>
        <dd>Cambridge Business English Certificate Higher</dd>
    </dl>
</div>

<div class="row">
    <dl>
        <dt><strong>German - Intermediate</strong></dt>
        <dd>Osterreichisches Sprachdiplom Deutsch - B2</dd>
    </dl>
</div>

<div class="row">
    <dl>
        <dt><strong>Romanian - Native speaker</strong></dt>
    </dl>
</div>