---
layout: default
title: Lau's website
---
<div class="row"></div>
<div class="section container row" id="home">
    {% include home.html %}
</div>

<div class="aboutme-section row" id="aboutme">
    <div class="column">
        {% include aboutme.html %}
    </div>
</div>

<div class="experience-section row" id="experience">
    <div class="column">
        {% include experience.html %}
    </div>
</div>

<div class="education-section row" id="education">
    <div class="column">
        {% include education.html %}
    </div>
</div>

<div class="languages-section row" id="languages">
    <div class="column">
        {% include languages.html %}
    </div>
</div>

<div class="interests-section row" id="interests">
    <div class="column">
        {% include interests.html %}
    </div>
</div>

<footer class="footer" id="section-footer">
    <section class="container">
        <div class="row">
            <div class="column footer-section">
                &copy; Copyright 2020
            </div>
        </div>
        <div class="row footer-section">
            <div class="column footer-section">
                <p>
                    <a target="_blank" href="https://icones8.fr/icons/set/linkedin">LinkedIn</a> 
                    <a target="_blank" href="https://icones8.fr/icons/set/important-mail">Mail</a>
                    <a target="_blank" href="https://icones8.fr/icons/set/github">GitHub</a> 
                    <a target="_blank" href="https://icones8.fr/icons/set/menu">Menu</a>
                    icons by <a target="_blank" href="https://icones8.fr">Icons8</a>
                </p>
            </div>
        </div>
      
    </section>
  </footer>