
<h3 class="title">
Education
</h3>
<div class="education-card row">
    <div class="column">
        <div class="row">
            <h5>M. Eng. in Computer Science and Information Technology</h5>
        </div>
        <div class="row">
            <h6><strong>Institut National des Sciences Appliquées de Lyon</strong> - Département Informatique</h6>
        </div>
        <div class="row">
            <h6>2011 - 2016</h6>
        </div>
        <div class="row">
            <div class="column">
                <dl>
                    <dt>
                        Advanced Operating Systems
                    </dt>
                    <dt>
                        Algorithms OOP and C++
                    </dt>
                    <dt>
                        Security
                    </dt>
                </dl>
            </div>
            <div class="column">
                <dl>
                    <dt>
                        Relational and distributed DBMS
                    </dt>
                    <dt>
                        Business Intelligence
                    </dt>
                    <dt>
                        Basics in Networking
                    </dt>
                </dl>
            </div>
            <div class="column">
                <dl>
                    <dt>
                        Introduction in AI
                    </dt>
                    <dt>
                        Probabilities & Statistics
                    </dt>
                    <dt>
                        Semantical Web
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="education-card row">
    <div class="column">
        <div class="row">
            <h5>Exchange program</h5>
        </div>
        <div class="row">
            <h6><strong>KTH Royal Institue of Technology Stockholm</strong> - Department of Computer Science</h6>
        </div>
        <div class="row">
            <h6>2015 - 2016</h6>
        </div>
        <div class="row">
            <div class="column">
                <dl>
                    <dt>
                        Machine Learning Advanced Course
                    </dt>
                    <dt>
                        Network Management
                    </dt>
                </dl>
            </div>
            <div class="column">
                <dl>
                    <dt>
                        Distributed AI & Intelligent Agents
                    </dt>
                    <dt>
                        Human Perception for IT
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="education-card row">
    <div class="column">
        <div class="row">
            <h5>Baccalaureate - Romania</h5>
        </div>
        <div class="row">
            <h6>2011</h6>
        </div>
    </div>
</div>