<div class="row">
    <div class="column">
        <p>Hi, I'm <h2>Laurentiu</h2></p>
        <h4>Data & DevOps Engineer</h4>
        <p>Paris, France</p>
        
    </div>
    <div class="column">
        <picture>
            <source srcset="{{site.baseurl}}/assets/img/main_image.webp" type="image/webp">
            <img src="{{site.baseurl}}/assets/img/main_image.jpeg" alt="description">
        </picture>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <div>
        <p>
            I'm currently working as a Innovation Engineer @ <a href="https://www.mantulab.com">MantuLab</a>,
            a team focused on applying the latest research from the data field in building solutions both 
            for <a href="https://www.mantu.com">Mantu Group</a> as well as for external clients.
        </p>
        <p>
            Raised in a scientific background in Romania, focused on learning several foreign 
            languages, lived throughout my studies in several countries of Europe, 
            I graduated with a Msc as a Computer Science Engingeer from 
            <a href="https://www.insa-lyon.fr/">INSA Lyon</a>.
        </p>
        <p>
            My desire is to bring a contribution to a healthy and sustainable development of 
            our society.
        </p>
        <p>
            Problem solving is one of my main skills, having always the will to analyze and 
            tackle a problem from diverse angles.
        </p>
    </div>
</div>
