<div class="row">
    <div class="column">
        <p>Hi, I'm <h2>Laurentiu</h2></p>
        <h4>SRE | DevOps | MLOps | GreenIT Engineer</h4>
        <p>Paris, France</p>
        
    </div>
    <div class="column">
        <picture>
            <source srcset="{{site.baseurl}}/assets/img/main_image.webp" type="image/webp">
            <img src="{{site.baseurl}}/assets/img/main_image.jpeg" alt="description">
        </picture>
    </div>
</div>
<div class="row" style="padding-top: 20px;">
    <div>
        <p>
            I have a high interest in the SRE, DevOps and MLOps domains and I am currently working as an SRE at <a href="">PayFit</a>.
        </p>
        <p>
            Guided by my desire to contribute to a sustainable future and in order to broaden my knowledge, 
            I am also certified GreenIT (March 2022) and an
            author of an <a href="https://www.mantu.com/blog/business-insights/digital-myths-the-true-cost-of-a-data-driven-world/">article</a> 
            on the impact of the digital world.
        </p>
        <p>
            Raised in a scientific background in Romania, focused on learning several foreign 
            languages, lived throughout my studies in several countries of Europe, 
            I graduated with a Msc as a Computer Science Engingeer from 
            <a href="https://www.insa-lyon.fr/">INSA Lyon</a>.
            My end of studies work became a <a href="https://www.researchgate.net/publication/347434230_Analysis_of_Urban_Traffic_Incidents_Through_Road_Network_Features">research publication</a> in a scientific journal.
        </p>
        </p>
        <p>
            Problem solving is one of my main skills, having always the will to analyze and 
            tackle a problem from diverse angles.
        </p>
    </div>
</div>
