<div class="container" id="menu-container">
  <div class="row" id="nav-bar-container">
    <div class="navbar column">
      <ul id="cv-menu">
        {% for item in site.data.navigation %}
          <div class="row">
            <button class="buton button-clear" id="{{item.id}}">{{ item.name  }}</button>
          </div>
        {% endfor %}
      </ul>
      <div id="menu-div-button">
        <button class="buton button-clear icon" onclick="addResponsiveClass()"><img src="{{site.baseurl}}/assets/img/menu.png"/></button>
      </div>
    </div>
  </div>
  <div class="row" id="contact-section">
    <div class="column">
      <a href="mailto:contact@laucapatina.com">
        <img class="contact-icon" src="{{site.baseurl}}/assets/img/mail.png" />
      </a>
    </div>
    <div class="column">
      <a href="https://linkedin.com/in/laurentiu-capatina-4094b332">
        <img class="contact-icon" src="{{site.baseurl}}/assets/img/linkedin.png" />
      </a>
    </div>
    <div class="column">
      <a href="https://github.com/lcapatina">
        <img class="contact-icon" src="{{site.baseurl}}/assets/img/github.png" />
      </a>
    </div>
  </div>
</div>
