<div class="container" id="menu-container">
  <div class="row" id="nav-bar-container">
    <div class="navbar column">
      <ul id="cv-menu">
        {% for item in site.data.navigation %}
          <div class="row">
            <button class="buton button-clear" id="{{item.id}}">{{ item.name  }}</button>
          </div>
        {% endfor %}
      </ul>
      <div id="menu-div-button">
        <button class="buton button-clear icon" onclick="addResponsiveClass()">
          <picture>
            <source srcset="{{site.baseurl}}/assets/img/menu.webp" type="image/webp">
            <img src="{{site.baseurl}}/assets/img/menu.png" alt="description">
          </picture>
        </button>
      </div>
    </div>
  </div>
  <div class="row" id="contact-section">
    <div class="column">
      <a href="mailto:contact@laucapatina.com">
        <picture>
          <source srcset="{{site.baseurl}}/assets/img/mail.webp" type="image/webp">
          <img src="{{site.baseurl}}/assets/img/mail.png" alt="description">
        </picture>
      </a>
    </div>
    <div class="column">
      <a href="https://linkedin.com/in/laurentiu-capatina-4094b332">
        <picture>
          <source srcset="{{site.baseurl}}/assets/img/linkedin.webp" type="image/webp">
          <img src="{{site.baseurl}}/assets/img/linkedin.png" alt="description">
        </picture>
      </a>
    </div>
    <div class="column">
      <a href="https://github.com/lcapatina">
        <picture>
          <source srcset="{{site.baseurl}}/assets/img/github.webp" type="image/webp">
          <img src="{{site.baseurl}}/assets/img/github.png" alt="description">
        </picture>
      </a>
    </div>
  </div>
  <div class="row" style="padding-top: 40px; display: flex; justify-content: center;">
    <button class="button-outline" onclick="location.href='/blog/';">Lau's Blog</button>
  </div>
</div>
