#menu-div-button {
    display: none;
}

.navbar {
    margin-bottom: 10px;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f4f5f6;
}

.navbar li a {
    display: block;
    color: #9b4dca;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.section {
    padding: 20% 0;
}

.education-section {
    padding: 0;
}

.languages-section {
    padding: 20% 0;
}

.interests-section {
    padding: 20% 0;
}

#contact-section {
    margin-top: 20%;
}

.contact-icon {
    margin: auto;
    width: 48px;
    height: 48px;
}

.inner-selection {
    margin: 0 auto;
    width: 300px;
    height: 100px;
}

#menu-container {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 40.0rem) {

    .section {
        padding-top: 0;
    }

    #cv-menu div button {display: none;}
    #menu-div-button {
    float: right;
    display: block;
  }
    #cv-menu.responsive {position: relative;}
    #menu-div-button {
      position: absolute;
      right: 0;
      top: 0;
    }
    #cv-menu.responsive div button {
      float: none;
      display: block;
      text-align: left;
    }

    #menu-container {
        position: relative;
        flex-direction: column;
    }

    #contact-section {
        margin-top: 0;
        flex-direction: row;
    }
}

#menu-column {
    position: relative;
}


#fullpage {
    height: 100vh;
}

#cv-container {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.navbar li a:hover {
    color: #606c76;
}

.education-card {
    background-color: #f4f5f6;
    color: #655d5d;
    margin: 1em auto;
}

.footer-section {
    text-align: center;
}